.product-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5rem;
}

.product-image-block {
    display: grid;
    grid-template-columns: auto 1fr;
}
.product-image-list img{
    width: 100px;
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}

.product-main-image img{
    position: relative;
    width: 100%;
    height: calc(100% - 10px);
}
.product-rating {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.product-rating span{
    color: #818181;
    text-decoration: underline;
}

.product-NewPrice h2 {
    margin-bottom: 0px;
}

.product-OldPrice h3 {
    margin-top: 4px;
    color: #818181;
    text-decoration: line-through;
    font-weight: 300;
    font-style: italic;
}

.product-description p{
    color: #4e4d4d;
    line-height: 1.5;
    font-size: 14px;
}

.product-sizes ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 8px;
}

.product-sizes ul li{
    background: #f5f3f3;
    width: 45px;
    padding: 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    border-radius: 2px;
    cursor: pointer;
    color: #00000096;
    border: 1px solid #00000008;
    transition: all .2s ease-in;
}
.product-sizes ul li:active,
.product-sizes ul li:hover{
    background: #000;
    color: #dddddd;
}

.addToCart button{
    border: 2px solid #ffdbda69;
    background: #eb423f;
    color: #fff;
    padding: 18px 40px;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 4px;
    transition: all .2s ease-in;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.addToCart button:active,
.addToCart button:hover{
    border: 2px solid #ffdbda;
    background: #eb423fcf;
}
.product-category span,
.product-tag span{
    font-weight: 600;
}

.product-category code,
.product-tag code{
    background: #dddddd;
    padding: 3px 8px;
    border-radius: 4px;
    border: 1px solid #00000005;
}